<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>curl</string>
	<key>OpenSourceVersion</key>
	<string>8.1.2</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://curl.se/</string>
	<key>OpenSourceURL</key>
	<string>https://github.com/curl/curl/releases/download/curl-8_1_2/curl-8.1.2.tar.xz</string>
	<key>OpenSourceSHA256</key>
	<string>31b1118eb8bfd43cd95d9a3f146f814ff874f6ed3999b29d94f4d1e7dbac5ef6</string>
	<key>OpenSourceImportDate</key>
	<string>2023-06-08</string>
	<key>OpenSourceModifications</key>
	<array>
	  <string>include/curl/curl.h: Moved CURLE_SSL_CACERT back to being an enum value instead of a macro. (#43091584)</string>
	  <string>lib/curl_gssapi.c: Address pointer alignment issue in gss_OID_desc structs. (#27287483)</string>
	  <string>lib/vtls: On macOS, use openssl if present, secure-transport if not. (#43091584)</string>
	  <string>lib/vtls/sectransp.c: Support finding identities by public key to support Yubikey auth on Big Sur. (#72186096)</string>
	  <string>lib/easy_lock.h: include sched.h (98886899)</string>
	</array>
	<key>OpenSourceLicense</key>
	<string>MIT</string>
	<key>OpenSourceLicenseFile</key>
	<string>curl.txt</string>
</dict>
</plist>
